// scss commun aux composants capacite d'achat, mensualités, durée
$active: #005889;
$inactive: #8bd6ff;
$container:#B2B3AE;

// boutons
.btn-group-lg > .btn, .btn-lg {
  font-size: 1em;
  width: 100px;
  &:hover{
    background-color: rgba(255, 255, 255, 1);
    color: var(--blue);
    border: 1px solid rgba(255, 208, 0, 0.5);
    transition: all 1s ease-in-out;
   
  }
}
.btn-active {
  background-color: $active;
}
.btn-inactive {
  background-color: $inactive;
  color: black;
}
// cursor
.input-range__track {
  height: 1em;
}
.input-range__track--active {
  background: var(--blue);
}
.input-range__slider {
  background: var(--blue);
  height: 2rem;
  width: 2rem;
  margin-top: -1.5rem;
  border: 1px solid #3f51b5;
}
// label general
.input-range__label {
  font-weight: normal;
  color: black;
}
// label up
.input-range__label--value {
  top: -2.7rem;
  color: var(--blue);
  font-weight: bold;
}
// label down
.input-range__label--min, .input-range__label--max {
  bottom: -2.1rem;
}
.title {
  color: var(--blue);
  font-weight: bold;
  font-size: 1.3em;
  span {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 7px;
    box-shadow: 3px 3px 8px rgba(255, 255, 255,0.5); 
  }
}
.label {
  color: var(--blue);
  font-weight: bold;
  font-size: 1em;
}
